* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #F0F0F0;
	padding: 20px;
}

img {
	max-width: 100%;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.main-component {
	max-width: 400px;
	margin: 50px auto 0;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

.profile {
	padding: 20px;
	text-align: center;
	position: relative;
}

.curve {
	width: 80%;
	margin-bottom: -5px;
}

.profile__image {
	background: url('../images/pattern-bg.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 350px;
	position: relative;
}

.profile__image .img-wrapper {
	overflow: hidden;
	display: block;
	margin: auto;
	width: 250px;
	height: 250px;
	position: relative;
}

.profile-image {
	display: none;
	opacity: 0;
}

.profile-image.active {
	display: block;
	opacity: 1;
}

/* Arrows */

.btn:hover {
	cursor: pointer;
}

.arrows {
	position: absolute;
	bottom: 10%;
	padding: 10px;
	border-radius: 50px;
	-webkit-box-shadow: 6px 6px 15px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 6px 6px 15px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 6px 6px 15px -10px rgba(0, 0, 0, 0.75);
}

.arrows .btn, .arrows {
	background: #fff;
}

.arrows .btn {
	border: none;
	outline: none;
}

.btn__prev {
	margin-right: 10px;
}

/* Profile Content */

.profile__content {
	color: #202046;
	line-height: 1.5;
	font-weight: 300;
	font-size: 1.125rem;
	position: relative;
	margin-top: 55px;
}

.quotes {
	position: absolute;
	width: 70px;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
}

.author {
	font-weight: 700;
	font-size: 1rem;
}

.author-title {
	font-size: 0.9375rem;
	font-weight: 400;
	color: #BABACF;
	display: block;
}

.profile__content__text {
	display: none;
	opacity: 0;
}

.profile__content__text.active {
	display: block;
	opacity: 1;
}

/* Footer */

footer {
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

/* Responsive */

@media(min-width: 700px) {
	.main-component {
		max-width: 700px;
	}
	.curve {
		width: 50%;
		position: absolute;
		bottom: 0;
	}
	/* Positioning */
	.position-rt {
		float: right;
		width: 50%;
	}
	.position-lt {
		position: absolute;
		width: 60%;
		top: 50%;
		transform: translateY(-50%);
	}
	/* Profile */
	.arrows {
		left: 20%;
	}
	.profile {
		text-align: left;
		padding: 30px 20px;
	}
	.quotes {
		transform: translateX(0);
		left: 15%;
	}
	.profile__content {
		margin-top: 0;
	}
}