.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	font-family: 'Inter', sans-serif;
}

img {
	max-width: 100%;
}

.main-component {
	max-width: 400px;
}

.profile {
	padding: 20px;
	text-align: center;
}

.profile__image {
	background: url('/images/pattern-bg.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 350px;
	position: relative;
}

.profile__image .img-wrapper {
	display: block;
	margin: auto;
	width: 250px;
}

/* Arrows */

.arrows {
	position: absolute;
	bottom: 10%;
	padding: 10px;
	border-radius: 50px;
}

.arrows .btn, .arrows {
	background: #fff;
}

.arrows .btn {
	border: none;
	outline: none;
}

.btn__next {
	margin-right: 10px;
}

/* Profile Content */

.profile__content {
	color: #202046;
	line-height: 1.5;
	font-weight: 300;
	font-size: 1.125rem;
}

.author {
	font-weight: 700;
	font-size: 1rem;
}

.author-title {
	font-size: 0.9375rem;
	font-weight: 400;
	color: #BABACF;
	display: block;
}